<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    <h4 align="center" class="modal-title" id="myModalLabel">Update New <%= @content.title %> </h4>
    <%=render 'shared/errors', obj: @content %>
     </div>
      <%=form_for(@content,remote: true, :html=> {role: "form",style: "display:inline;"}) do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <div class="date">
              <div class="row">
                <div class="col-sm-6">
                  <%=f.text_field :title,class: "form-control", placeholder: "Title", autofocus: true %>
                </div>
                <div class="col-sm-6">
                  <%=select(:content, :level, [[ 'Beginner', 'Beginner'],[ 'intermediste', 'intermediste'],[ 'expert', 'expert']],{ include_blank: true },class: "form-control" )
                  %>
                </div>
              </div>
            </div>
            <div class="date">
              <div class="row">
                <div class="col-sm-6">
                  <%=f.date_field :startDate,class: "form-control", placeholder: "Start Date" %>
                </div>
                <div class="col-sm-6">
                  <%=f.date_field :endDate, class: "form-control", placeholder: "End Date" %>
                </div>
              </div>
            </div>
            <div class="date">
              <div class="row">
                <div class="col-sm-12">
                  <%=f.cktext_area :description,rows: 50, class: "form-control", placeholder: "Body of content" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="content-star">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <%=f.submit "Save", class: 'btn btn-primary btn-large' %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
  </div>
</div>
