
<h1>Update New Content</h1>
<%= render 'shared/errors', obj: @content %>

  <%= form_for(@content, :html => {class: "form-horizontal", role: "form"}) do |f| %>

  <div class="form-group">
    <div class="control-label col-sm-2">
    </div>
      <div class="date">
        <div class="row">
          <div class="col-sm-3">
            <%= f.text_field :title,class: "form-control", placeholder: "Title", autofocus: true %>
          </div>
          <div class="col-sm-3">
            <%= select(:content, :level, [['Beginner','Beginner'],['intermediste','intermediste'],['expert','expert']],{ include_blank: true },class: "form-control" )   %>
          </div>
        </div>
      </div>
          <div class="control-label col-sm-2">
          </div>
        <div class="row">
          <div class="col-sm-3">
            <%= f.date_field :startDate,class: "form-control", placeholder: "Start Date" %>
          </div>
          <div class="col-sm-3">
            <%= f.date_field :endDate, class: "form-control", placeholder: "End Date" %>
          </div>
        </div>
  </div>
   <div class="form-group">
      <div class="date">


          <div class="szcontent">
            <%= f.text_area :description,rows: 10, class: "form-control", placeholder:"Body of content" %>
          </div>
      </div>
    </div>

   <div class="form-group">
          <div class="col-sm-offset-4 col-sm-10">
            <div class="star">
             <%= link_to 'Back', root_path, class: "btn btn-danger" %>
            <%= f.submit class: 'btn btn-primary btn-large' %>
          </div>
          </div>
    </div>
</div>
<% end %>
