
<h1>Showing selected content</h1>

<h2 align="center">Title: <%= @content.title %></h2>
<div class="row">
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center">  level: </h4>
    <%= @content.level %>
     <hr>
  <h4 class="center">  startDate: </h4>
    <%= @content.startDate %>
     <hr>
  <h4 class="center">  endDate: </h4>
    <%= @content.endDate %>
     <hr>
  <h4 class="center"> <strong> Description: </strong></h4>
    <%= @content.description %>
    <hr>

    <%= link_to "Edit", edit_content_path(@content), class: "btn btn-sm btn-primary" %> |
    <%= link_to 'Back', content_path, class: "btn btn-sm btn-success" %> |
    <%= link_to "Delete", content_path(@content), method: :delete, data: { confirm: "Are you sure you want to delete this content?"}, class: "btn btn-sm btn-danger" %>
</div>
</div>
