
<div class="nav-profile" style="margin-left: 12px;"> 

  <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home" style="font-size:19px;">Member</a></li>
      <li><a data-toggle="tab" href="#menu3" style="font-size:19px;">Content</a></li>
  </ul>

</div>
<div class="tab-content" style="padding-left: 12px;">
  <div id="home" class="tab-pane fade in active">
    <% if @members.blank? %>
    <h2 align="center">No Member just yet!</h2>
    <% else %>
    <% @members.each do |content| %>
    <div class="row">
      <div class="well col-xs-8 col-xs-offset-1">
        <div class="row">
          <div class="col-xs-4">
            <div>
              <%= image_tag( "ava.jpg", alt: "Rails", class: "background-image-content" )%>
            </div>
            <div class="content-group">
              <div class="content-email">

                <div class="content-status">  
                  <h3 align="center">Pending</h3>
                </div>

                <span>
                  <img src="<%= content.user.pictures%>" alt="" id="avatar">
                  <%= content.user.fullname %> <br>
                  <div class="content-create-sz">
                    <%= content.created_at %>
                  </div>
                </span>
              </div>
              <div class="content-body">
                <div class="content-create-sz">
                 
                </div>
              </div>
              <div class="content-actions">
                <div class="content-button">
                  <button style="opacity:0.6" type="button" class="btn btn-outline-dark">Take attendance</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-8">
                <div class="content-title">
                  <%= content.user.fullname %>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="menu-content-drop">
                  <div class="dropdown">
                    <button class="btn dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" style="position: absolute;top: -10px;right: 0">
                      ...
                    </button>
                    <ul class="dropdown-menu">
                      <li><%= link_to  "Decline", decline_member_path(group_id: content.group.id, id: content.id) %></li>
                      <li><%= link_to  "Approve", approve_member_path(group_id: content.group.id, id: content.id) %></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="content-body">
                  <div class="col-xs-12">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <%= paginate @contents, theme: 'twitter-bootstrap-3' %>
    <% end %>
  </div>
  
  <div id="menu3" class="tab-pane fade">
    <% if @contents.blank? %>
    <h2 align="center">No Content just yet!</h2>
    <% else %>

    <% @contents.each do |content| %>
    <div class="row">
      <div class="well col-xs-8 col-xs-offset-1">
        <div class="row">
          <div class="col-xs-4">
            <div>
              <%= image_tag( "ava.jpg", alt: "Rails", class: "background-image-content" )%>
            </div>
            <div class="content-group">
              <div class="content-email">

                <div class="content-status">
          
                  <h3 align="center">Pending</h3>
                 
                </div>

                <span>
                  <img src="<%= content.user.pictures%>" alt="" id="avatar">
                  <%= content.user.fullname %> <br>
                  <div class="content-create-sz">
                    <%= content.created_at %>
                  </div>
                </span>
              </div>
              <div class="content-body">
                <div class="content-create-sz">
                  <span> Start:
                    <%=  content.startDate %></span>
                  </br>
                  <span>End:
                    <%=  content.endDate %></span>
                  </br>
                  <span>Level:
                    <%=  content.level %></span>
                </div>
              </div>
              <div class="content-actions">
                <div class="content-button">
                  <button style="opacity:0.6" type="button" class="btn btn-outline-dark">Take attendance</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-8">
                <div class="content-title">
                  <%= content.title %>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="menu-content-drop">
                  <div class="dropdown">
                    <button class="btn dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" style="position: absolute;top: -10px;right: 0">
                      ...
                    </button>
                    <ul class="dropdown-menu">
                      <li><%= link_to  "Decline", decline_content_path(group_id: content.group.id, id: content.id) %></li>
                      <li><%= link_to  "Approve", approve_content_path(group_id: content.group.id, id: content.id) %></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="content-body">
                  <div class="col-xs-12">
                    <p><%= truncate sanitize(content.description, tags: [], attributes: []), length: 300 %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <%= paginate @contents, theme: 'twitter-bootstrap-3' %>
    <% end %>
  </div>
  <div id="product-modal" class="modal fade"></div>
   
  </div>