     <div class="container">
              <div class="row">
                <div class="event-detail">
                  <div class="row">
                    <p><b>Title:</b> <%= @event.title %> </p>
                  </div>
                  <div class="row" style="width: 400px;">
                    <p><b> Something about your event:</b>  </p>
                    <div >
                      <p style="width: 400px;"><%= @event.something %></p>
                    </div>
                  </div>
                  <div class="row">
                    <p><b>Document Link:</b> <%= @event.document %></p>
                  </div>
                  <div class="row">
                    <p><b>Speaker:</b> <%= @event.speaker %></p>
                  </div>
                  <div class="row">
                    <p><b>Start Date:</b> <%= @event.startDate.strftime("%H:%M %d/%m/%Y") %></p>
                  </div>
                  <div class="row">
                    <p><b>End Date:</b> <%= @event.endDate.strftime("%H:%M %d/%m/%Y") %></p>
                  </div>
                  <div class="row">
                    <p><b>Duration:</b> <%= @event.duration %> minutes</p>
                  </div>
                </div>
              </div>
      </div>
  <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
  </div>
