<div class="header_top">
    <div class="row">
        <div class="col-xs-12 col-sm-4" id="left">
            <%= link_to image_tag("lg.png", alt:"logo"), root_path %>
        </div>
        <div class="col-xs-12 col-sm-4" id="mid">
            <div class="flow">
                <div class="dropdown following">
                    <a class="dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Following Classes
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ruby 01</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ruby 02</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ruby 03</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ruby 04</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ruby 05</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ruby 06</a></li>
                        <li role="presentation" class="divider"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 " id="right">
            <ul>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
                <% if user_signed_in? %>
                <li id="profile" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="<%= current_user.pictures%>" alt="" id="avatar">
                        <%= current_user.fullname.slice(0..10) %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li> <%= link_to ' My Profile', user_path(current_user) %></li>
                        <li class="divider"></li>
                        <li>  <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                    </ul>
                </li>
                <% else %>
                <li><%= link_to  "login", user_google_oauth2_omniauth_authorize_path %></li>
                <% end %>

            </ul>
        </div>
    </div>
</div>
<div class="header_bot">
    <div class="cover-image">
        <%= image_tag("cv.jpeg", alt: "Cover",id:"cover-header") %>
        <h2>Welcome to Learning social networking</h2>
            <% if user_signed_in? %>
           <button class="open-button" onclick="openForm()">Create new group</button>
            <div class="form-popup" id="myForm">
                <%= form_for(:group, url: groups_path, html: {class: "form-container"}) do |f| %>
                    <h1>Create new group</h1>
                    <%= f.label :name, "Your group name" %>
                    <%= f.text_field :name, class: 'form-control',:required => true %>

                    <%= f.label :decription %>
                    <%= f.text_field :decription, class: 'form-control',:required => true %>

                    <%= f.label :startdate, "Start Date" %>
                    <%= f.date_field :startdate, class: 'form-control',:required => true %>

                    <%= f.label :course_id, class: "course"%>
                    <%= f.collection_select :course_id, @cour.all, :id, :name %>

                    <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
                    <%= f.submit "Done and publish", class: "btn btn-primary" %>

            <% end %>
            </div>
            <div class="popup" onclick="myFunction()">Pick a Course
                <div class="popuptext" id="myPopup">
                    <ul>
                        <% @cour.each do |course| %>
                        <li class="course"><%= link_to  course.name, groups_url(course_id: course.id) %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <script>
                function openForm() {
                    document.getElementById("myForm").style.display = "block";
                }

                function closeForm() {
                    document.getElementById("myForm").style.display = "none";
                }
                function myFunction() {
                    var popup = document.getElementById("myPopup");
                    popup.classList.toggle("show");
                }
            </script>
             <% end %>
    </div>
</div>
